PORT=3000
APP_ENV=production || test

TEST_DB_URL=<dbUrl>
TEST_DB_NAME=url-url-shortner-prod
TEST_DB_ACCOUNT=local-test-user
TEST_JWT_SECRET_KEY=<key>

PROD_DB_URL=<dbUrl>
PROD_DB_NAME=url-url-shortner-prod
PROD_DB_ACCOUNT=prod-user
PROD_JWT_SECRET_KEY=<key>
